body {
    background-color: black;
}
.profile {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    font-size: 25px;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
}
.profile img {
    width: 200px;
    border-style: 50%;
    position: relative;
}
.biodata img {
    width: 300px;
    position: relative;
    border-radius: 50%;
}
.profile h1 {
    color: #ffffff;
}
.profile h2 {
    color: #ffffff;
}
.profile h4 {
    color: #ffffff;
}
.biodata {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    margin-top: 20px;
    color: #ffffff;
    font-size: 25px;
    font-family: "Comic Sans MS", cursive sans-serif;
}
.contact {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    flex-direction: column;
    color: #ffffff;
    margin-top: 20px; 
    padding-right:20px; 
    font-size: 25px;
    font-family: "Comic Sans MS", cursive sans-serif;
}

.container {
    color: #ffffff;
}
.contact img { 
    width: 350px;
    border-radius: 50%;
    position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: linerar-gradient(45deg, #3873ff, #000000);
  box-shadow: 0 4px 6px #000; 
}

.navbar .left {
  margin-right: auto; 
}

.navbar li {
  padding: 10px 20px;
}

.navbar a {
  text-decoration: none;
  color: #333;
}

.navbar a:hover {
  color: #007BFF; 
}
